<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>splash</title>
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <div class="container start">
    <div class="row">
      <div class="col-xs-2">
        <figure class="fg-white-start">
          <img src="../assets/images/logo-white.png" alt="logo-white-start" class="logo-white-start">
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <figure class="fg-pink-start">
          <img src="../assets/images/lyfe-lyfe.png" alt="logo-pink-start" class="logo-pink-start">
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 button">
        <button type="button" class="btn btn-default btn-lg btn-start">LOG IN</button>
        <button type="button" class="btn btn-default btn-lg btn-start">SIGN UP</button>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/app1.js"></script>
</body>
</html>