<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>splash</title>
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
</head>
<body>
  <div class="container">
    <h2>Sign up</h2>
    <h4>Join for free ride credit</h4>
    <div class="col-xs-3 dropdown">
      <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="../assets/images/mx.png" alt="" class=""><span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        <li><img src="../assets/images/col.png" alt="" class=""></li>
      </ul>
    </div>
    <div class="col-xs-8 form-group">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="51">
    </div>
    <h4>We'll send a text to verify your phone</h4>
    <button type="submit" class="btn btn-default btn-next">NEXT</button>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/app1.js"></script>
</body>
</html>